@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.App {
  font-family: 'Lato';
  background-image: url('/build-front/img/bg-image.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: 80vw 20vw;
  grid-template-rows: 100vh;
  grid-template-areas: 
    "main sidebar";
}

.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80vh 20vh;
  grid-template-areas: 
    "front"
    "footer";
}

.sidebar {
  background-color: white;
}

.front {
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  font-size: x-large;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: rgba(13, 21, 27, 0.5);
  border-top: 0.3px solid rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  grid-template-areas: 
  "meeting1 meeting2 meeting3";
}

.subject0 {
  font-size: 350%;
  font-weight: bold;
}

.meeting1, .meeting2, .meeting3 {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: large;
  text-align: left;
}
.meetingSubj {
  font-weight: bold;
  font-size: larger;
}
.meetingOrg {
  text-transform: uppercase;
  font-size: smaller;
  color: rgba(127,129,130);
}
hr {
  border: 0;
  width: 2.5em;
  color: white;
  background-color: white;
  height: 5px;
}
.progress-bar {
  width: 25%;
}
.progress {
  margin: auto;
  height: 20px;
  width: 35%;
}
